---
---
@import "color";

img {
   vertical-align: bottom;
}

body {
   margin: 0px;
   font-family: "futura-pt",sans-serif;
}

a {
	color: black;
	text-decoration: none;
}

.courier-new {
   font-family: "Courier New", sans-serif;
}

.lemon {
  color: $yellow;
}

.white {
   color: white;
}

.lemon-bg {
  background: $yellow;
}

@import "type-size";
@import "header";
@import "home";
@import "about";
@import "project";
@import "modula";
@import "rooster-brewery";
@import "chocolate-bar";
@import "zoo";
@import "type-book";
@import "record";
