---
---
@import "color";

img {
   vertical-align: bottom;
}

body {
   margin: 0px;
   font-family: "futura-pt",sans-serif;
}

a {
	color: black;
	text-decoration: none;
}

.courier-new {
   font-family: "Courier New", sans-serif;
   font-weight: normal;
}

.lemon {
  color: $lemon;
}

.white {
   color: white;
}

.lemon-bg {
   background: $lemon;
}

.grid-warning {
   min-height: 3rem;
   padding: 1rem;

   @supports (display: grid) {
      display: none !important;
   }
}

@import "video";
@import "type-size";
@import "header";
@import "home";
@import "about";
@import "button";
@import "project";
@import "house-of-cards";
@import "rooster-brewery";
@import "chocolate-bar";
@import "zoo";
@import "typography-book";
@import "record";
@import "electromagnetic";
