---
---

img {
   vertical-align: bottom;
}

body {
   margin: 0px;
   font-family: Tahoma,Verdana,sans-serif;
}

.courier-new {
   font-family: "Courier New", sans-serif;
}

.fill-screen {
   height: 100vh;
}

.lemon {
  color: #eeb62f; 
}

//:root {
   //font-size: calc(1vw + 1vh + .5vmin);
//}

@import "header";
@import "home";
@import "about";
@import "project";
@import "modula";
@import "rooster-brewery";
@import "chocolate-bar";
