<ul id="social-icons">
{% if page.instagram-username %}
  <li>
    <a href="https://instagram.com/{{ page.instagram-username }}" target="_blank">
      <i class="fab fa-instagram"></i>
    </a>
  </li>
{% endif %}
{% if page.pintrest-username %}
  <li>
    <a href="https://pinterest.com/{{ page.pintrest-username }}" target="_blank">
      <i class="fab fa-pinterest-square"></i>
    </a>
  </li>
{% endif %}
{% if page.github-username %}
  <li>
    <a href="https://github.com/{{ page.github-username }}" target="_blank">
      <i class="fab fa-github-square"></i>
    </a>
  </li>
{% endif %}
{% if page.linkedin-username %}
  <li>
    <a href="https://linkedin.com/in/{{ page.linkedin-username }}" target="_blank">
      <i class="fab fa-linkedin"></i>
    </a>
  </li>
{% endif %}
{% if page.behance-username %}
  <li>
    <a href="https://behance.com/{{ page.behance-username }}" target="_blank">
      <i class="fab fa-behance-square"></i>
    </a>
  </li>
{% endif %}
</ul>
