.about-grid {
  margin-top: 3em;
   grid-column-gap: 5rem;
}

#portrait {
   max-height: 80vh;
   min-height: 30rem;
   float: right;
}

#bio {
  font-family: "Courier New", sans-serif;
   max-width: 28rem;
}
