.about-grid {
   grid-column-gap: 5rem;

   @media (min-width: 32em) {
      margin-top: 2em;
   }
}

#portrait {
   width: 100%;

   @media (min-width: 32em) {
      max-height: 80vh;
      min-height: 30rem;
      float: right;
      width: unset;
   }
}

#bio {
   padding: 1em;

   p {
      font-family: "Courier New", sans-serif;
   }

   @media (min-width: 32em) {
      max-width: 28rem;
      padding: 0em 1em 0em 0em;
   }

   .extra-space {
      margin-bottom: 2em;
   }
}

#social-icons {
   list-style: none;
   display: flex;
   justify-content: space-between;
   width: 11rem;
   -webkit-padding-start: 0em;
   font-size: 1.7rem;
   padding-inline-start: 0px;

   .svg-inline--fa {
      color: $lemon;
   }
}

.link-fade {
   &:hover {
      color: blue;
      text-decoration: underline;
   }
}
