#chocolate-bar-head {
   display: flex;
   background-color: #ee2336;
}

#chocolate-bar-head svg {
   flex-grow: 1;
}

#chocolate-bar-description {
   background-color: #0e2e3e;
}

#chocolate-bar-cards {
   background-color: #f2ebd9;
   justify-content: space-around;
    svg {
      flex-grow: 1;
      height: 16vw;
      color: blue;
    }
}

#chocolate-bar-lables {
   background: #0E2d3d;
   justify-content: space-evenly;

   img {
      objet-fit: scale-down;
      height: 20em;
   }
}

.chocolate-bar-img {
   @extend %project-picture;
}
