#chocolate-bar {
  .project-head {
     display: flex;
     background-color: #ee2336;

     img {
        height: 100%;
     }
  }

  .project-description {
     background-color: #0e2e3e;
  }
}



#chocolate-bar-cards {
   background-color: #f2ebd9;
   justify-content: space-around;
    img {
      flex-grow: 1;
      height: 16vw;
      color: blue;
    }
}

#chocolate-bar-lables {
   background: #0E2d3d;
   justify-content: space-evenly;
   flex-wrap: wrap;

   img {
      object-fit: scale-down;
      max-width: 13vw;
      min-width: 8rem;
   }
}

.chocolate-bar-img {
   @extend %project-picture;
}
