#electromagnetic-project {
   background-color: black;
   color: white;

   .project-header {
      background: url("/assets/img/electro-background.jpg");
      background-position: center;
   }

   .project-header svg {
      width: 80%;
   }

   .project-mockup {
      width: 80%;
      max-height: 100%;
   }
}
