header * {
	display: inline-block;
}

header nav {
	margin-left: auto;
}

nav h4 {
	padding-right: 4rem;
}

header h1 {
	color: $yellow;
	padding-right: 1rem;
	-webkit-margin-after: 0em;
        -webkit-margin-before: 0.5rem;
}

header .logo {
    font-size: 1.3em;
}

header {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: baseline;
	font-size: 0.7em;
}

@media (min-width: 30em) {
	header .logo {
		-webkit-margin-after: 0.67em;
      		padding-right: 0rem;
	}

	header {
		align-items: center;
	}

	header nav {
		position: relative;
		bottom: 0.1em;
	}

   header .center {
      position: relative;
   }
}
