header h3 {
   display: inline;
   padding-right: 1em;
}

header a {
   color: grey;
   text-decoration: none;
}

header .selected {
   color: black;
}

header h2 {
   display: inline;
}

header {
   height: 7vh;
   display: flex;
   align-items: center;
   justify-content: space-between;
   max-width: 100%;
}
