header * {
	display: inline-block;
}

header nav {
	margin-left: auto;
}

nav h4 {
	padding-right: 1rem;
}

header h1 {
	color: #eeb62f;
	padding-right: 4rem;
	-webkit-margin-after: 0em;
}

header {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: baseline;
   font-size: 0.7em;
}

@media (min-width: 30em) {
	header h1 {
		-webkit-margin-after: 0.67em;
      padding-right: 1rem;
	}

	header {
		align-items: center;    
      font-size: 0.7em;
	}

	header nav {
		position: relative;
		bottom: -0.4em;
	}

   header .center {
      position: relative;
      bottom: -0.3em;
   }
}
