header, #portfolio {
   padding-left: 7vw;
   padding-right: 7vw;
}

#portfolio {
   display: grid;
   grid-gap: 2em;
   justify-items: center;
   grid-template-columns: 1fr;
   grid-auto-columns: 1fr;
   padding-bottom: 2em;

   @media (min-width: 30em) {
      grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr)); 
   }
}

.project {
  position: relative;
  width: 100%;
  justify-self: center;

  @supports not (display: grid) {
      margin-bottom: 3em;
  }
}

.project div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .2s, visibility .2s;
}

.project:hover div {
  visibility: visible;
  opacity: 1;
}

.project .thumbnail {
   width: 100%;
   height: 100%;
   opacity: 1;
   transition: opacity 0.4s;

   &:hover {
      opacity: 0;
   }
}

.rooster-brewing {
   a {
      width: 100%;
      height: 100%;
   }

   .thumbnail {
      width: 65%;
   }
}
