#house-of-cards {
  .project-head img {
     width: 100%
  }

  .project-description{
     background-color: #f9a220;
  }
}

#modula-svg {
   background: #ee3f23;
   padding: 5vmin;
   box-sizing: border-box;
   max-width: 100vw;

   img {
      object-fit: contain;
   }
}

#modula-app {
   .modula-picture {
     object-fit: scale-down;
     width: 80%;
   }
}

.modula-picture {
   @extend %project-picture;
}

.modula-picture {
   object-fit: cover;
}

#modula-app {
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-height: 100vh;
  height: unset;
  margin: 1rem 0 1rem 0;

  img {
     object-fit: scale-down;
     max-width: 13vw;
     min-width: 8rem;
  }
}
