#modula-svg {
   grid-area: d;
   background: #ee3f23;
   padding: 3em;
   box-sizing: border-box;
}

#modula-svg svg {
   width: 100%;
   height: 100%;
}

#modula-head {
   grid-area: a;
   height: 56vh;
   display: flex;
}

#modula-head svg {
   flex-grow: 1;
}

#modula-description {
   grid-area: b;
   background-color: #f9a220;
   padding: 1em 3em 3em 1em; 
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   width: 100%;
}

#modula-description h1 {
   font-size: 5rem;
   -webkit-margin-before: .2em;
   -webkit-margin-after: 0;
   letter-spacing: 0.04em;
}

#modula-half {
   grid-area: c;
   background: url("/assets/img/modula-half.jpg");
   background-size: cover;
}

#modula-half img {
   width: 100%;
}

#modula-full {
   grid-area: e;
   background: url("/assets/img/modula.jpg");
   background-size: cover;
}


