#modula-svg {
   background: #ee3f23;
   padding: 5vmin;
   box-sizing: border-box;
   max-width: 100vw;

   svg {
      width: 100%;
      height: 100%;
   }
}

#modula-head img {
   width: 100%
}

#modula-project .project-description{
   background-color: #f9a220;
}

#modula-app {
   .modula-picture {
     object-fit: scale-down;
     width: 80%;
   }
}

.modula-picture {
   @extend %project-picture;
}

.modula-picture {
   object-fit: cover;
}
