#modula-svg {
   background: #ee3f23;
   padding: 5vmin;
   box-sizing: border-box;
   max-width: 100vw;

   svg {
      width: 100%;
      height: 100%;
   }
}

#modula-head svg {
   flex-grow: 1;
}

#modula-description {
   background-color: #f9a220;
   box-sizing: border-box;
}

#modula-half {
   background: url("/assets/img/modula-half.jpg");
   background-size: cover;
}

#modula-half img {
   width: 100%;
}

#modula-full {
   background: url("/assets/img/modula.jpg");
   background-size: cover;
}

#modula-computer {
   background: url("/assets/img/modula-computer.jpg");
   background-size: cover;
}
