.default-grid {
   display: grid;
   grid-template-rows: auto;
   grid-template-columns: 1fr;
}

.span-half {
   grid-column-end: span 1;
}

.span-full {
   grid-column-end: span 1;
}

@media (min-width: 32em) {
   .default-grid {
      grid-template-columns: 1fr 1fr;
   }

   .span-full {
      grid-column-end: span 2;
   }   
}
