.default-grid {
   display: grid;
   grid-template-rows: auto;
   grid-template-columns: 1fr;
}

.span-half {
   grid-column-end: span 1;
}

.span-full {
   grid-column-end: span 1;
}

.centered {
   display: flex;
   align-items: center;
   justify-content: center;
}

.fill-screen {
   height: 100vh;
}

.fill-sm-screen {
   max-height: 60vh;

   @media (min-width: 32em) {
      height: 100vh;
      max-height: 100vh;
   }
}

.project-description {
   min-height: 40vh;
   font-size: small;
   color: white;

   .text-area {
      padding-left: 1em;

      @media (min-width: 32em) {
         max-width: 33%;
      }
   }

   h1 {
      font-size: 1.4em;
      -webkit-margin-before: .2em;
      -webkit-margin-after: 0;
   }

   h2 {
      font-size: 1em;
   }
}

.img-header {
   object-fit: cover;
   width: 100%;
   height: 100%;
}

.img-body {
   object-fit: scale-down;
   width: 100%;
   height: 100%;
}

@media (min-width: 32em) {
   .default-grid {
      grid-template-columns: 1fr 1fr;
   }

   .span-full {
      grid-column-end: span 2;
   }
}
