.default-grid {
   display: grid;
   grid-template-rows: auto;
   grid-template-columns: 1fr;
}

.span-half, .span-full {
   grid-column-end: span 1;
}

.centered {
   display: flex;
   align-items: center;
   justify-content: center;
}

.fill-screen {
   height: 100vh;
}

.fill-sm-screen {
   max-height: 60vh;

   @media (min-width: 32em) {
      height: 100vh;
      max-height: unset;
   }
}

.project-description {
   min-height: 40vh;
   color: white;

   .text-area {
      padding: 1em;

      @media (min-width: 32em) {
         max-width: 60%;
      }

      @media (min-width: 64em) {
         max-width: 33%;
      }
   }

   ul {
     list-style: none;
     font-style: italic;
     -webkit-padding-start: 0;
     padding-start: 0;
   }

   h1, h2, h3, h4, p {
     -webkit-margin-before: 0em;
     -webkit-margin-after: 0em;
   }

   h4 {
     -webkit-margin-after: .9em;
     -webkit-margin-before: .1em;
   }
}

.img-header {
   object-fit: cover;
   width: 100%;
   height: 100%;
}

.img-body {
   object-fit: cover;
   width: 100%;
   height: 100%;
}

@media (min-width: 32em) {
   .default-grid {
      grid-template-columns: 1fr 1fr;
   }

   .span-full {
      grid-column-end: span 2;
   }
}

%project-mockup {
   max-width: 100vw;
   object-fit: scale-down;
   padding-top: 4em;

   @media (min-width: 32em) {
      width: 65%;
      padding-top: 0em;
   }

}

%project-picture {
   object-fit: scale-down;
   width: 100%;
   height: 100%;

   @media (min-width: 32em) {
      object-fit: cover;
   }
}
