#brewery-description {
   background-color: black;
   padding: 1em 3em 3em 1em;
   box-sizing: border-box;
}

#brewery-head {
   background-color: #15373a;

   img {
      flex-grow: 1;
      max-width: 25em;
   }
}

#brewery-cup {
   background: url("/assets/img/brewery-cup.jpg");
   background-size: cover;
   background-position: bottom;
}

#brewery-shirt {
   background: url("/assets/img/brewery-wood.jpg");
}

#brewery-bottles {
   padding: 3em;

   img {
      height: 95%
   }
}

.brewery-picture {
   @extend %project-mockup;

   @media (min-width: 64em) {
      object-fit: cover;
   } 
}
