#brewery-description {
   background-color: black;
   padding: 1em 3em 3em 1em;
   box-sizing: border-box;
}

#brewery-head {
   background-color: #15373a;

   svg {
      flex-grow: 1;
      max-width: 25em;
   }
}

#brewery-cup {
   background: url("/assets/img/brewery-cup.jpg");
   background-size: cover;
   background-position: center
}

#brewery-shirt {
   background: url("/assets/img/brewery-wood.jpg");
   background-size: cover;
   img {
      max-width: 100%;
   }
}

#brewery-bottles {
   background: url("/assets/img/brewery-bottles.jpg");
   background-size: cover;
}
