.type-book-mockup {
   width: 100%;
   padding-top:10em;
   max-width: 100vw;

   @media (min-width: 32em) {
      width: unset;
      height: 78%;
      padding-top: 0em;
   }
}

#type-book-cover img {
   max-width: 100vw;
}
