---
layout: project
---
<article id="chocolate-bar-project" class="default-grid">
   <section id="chocolate-bar-head" class="span-full">
      {% include eyeball.svg %}
   </section>
   <section id="chocolate-bar-description" class="span-full">
      {{ page.content }}
   </section>
   <section id="chocolate-bar-cards" class="span-full">
      {% include snake.svg %}
      {% include two-heads.svg %}
      {% include scale.svg %}
      {% include skull.svg %} 
      {% include lightbulb.svg %}
   </section>
</article>
