---
layout: project
---
<article id="chocolate-bar-project" class="default-grid">
   <section id="chocolate-bar-head" class="span-full fill-screen">
      {% include eyeball.svg %}
   </section>
   <section id="chocolate-bar-description" class="span-full centered project-description">
      <div class="text-area">
         {{ page.content }}
      </div>
   </section>
   <section id="chocolate-bar-cards" class="span-full fill-screen centered">
      <img src="/assets/svg/snake.svg">
      <img src="/assets/svg/two-heads.svg">
      <img src="/assets/svg/scale.svg">
      <img src="/assets/svg/skull.svg">
      <img src="/assets/svg/lightbulb.svg">
   </section>
   <section id="chocolate-bar-lables" class="span-full fill-screen centered">
      <img src="/assets/img/snake.png">
      <img src="/assets/img/two-head.png">
      <img src="/assets/img/scale.png">
      <img src="/assets/img/skull.png">
      <img src="/assets/img/lightbulb.png">
   </section>
   <section id="chocolate-bar-fortune" class="span-half fill-screen centered">
      <img class="chocolate-bar-img" src="/assets/img/fortune.jpg">
   </section>
   <section id="chocolate-bar-stacked" class="span-half fill-screen centered">
      <img class="chocolate-bar-img" src="/assets/img/stacked-bars.jpg">
   </section>
</article>
