---
layout: project
---
<article id="electromagnetic-project" class="default-grid">
   <section class="span-full fill-screen centered project-header">
      {% include electromagnetic.svg %}
   </section>
   <section class="project-description span-full centered">
      <div class="text-area">
         {{ page.content }}
      </div>
   </section>
   <section class="span-full fill-screen centered">
      <h3>Vimeo player</h3>
   </section>
   <section class="span-half fill-screen centered">
      <img class="project-mockup" src="/assets/svg/electro-p.svg"></img>
   </section>
   <section class="span-half fill-screen centered">
      <img class="project-mockup" src="/assets/svg/electro-type.svg"></img>
   </section>
</article>
