---
layout: project
---
<article id="modula-project" class="project-grid">
   <section id="modula-head" class="span-full">
      {% include modula-head.svg %}
   </section>
   <section id="modula-description" class="span-full">
      {{ page.content }}
   </section>
  <section id="modula-svg" class="fill-screen span-half">
      {% include modula-half.svg %} 
   </section>
   <section id="modula-half" class="fill-screen span-half">
   </section>
    <section id="modula-full" class="fill-screen span-full">
   </section>
</article>
