---
layout: project
---
<article id="modula-project" class="default-grid">
   <section id="modula-head" class="span-full fill-screen centered">
      <img src="/assets/svg/modula-head.svg"></img>
   </section>
   <section id="modula-description" class="project-description span-full centered">
      <div class="text-area">
         {{ page.content }}
      </div>
   </section>
   <section class="fill-sm-screen span-full">
      <img class="modula-picture" src="/assets/img/modula-lady.png"></img>
   </section>
  <section id="modula-svg" class="fill-screen span-half">
      {% include modula-half.svg %}
   </section>
   <section id="modula-half" class="fill-screen span-half">
      <img class="modula-picture" src="/assets/img/modula-half.jpg"></img>
   </section>
   <section id="modula-app" class="fill-sm-screen span-full centered">
      <img class="modula-picture" src="/assets/img/modula-app.png"></img>
   </section>
   <section id="modula-full" class="fill-screen span-full">
      <img class="modula-picture" src="/assets/img/modula.jpg"></img>
   </section>
</article>
