---
layout: project
---
<article id="record-project" class="default-grid">
   <section class="span-full fill-screen centered">
      <img class="record-mockup" src="/assets/img/record-front.png"></img>
   </section>
   <section class="project-description span-full centered">
      <div class="text-area">
         {{ page.content }}
      </div>
   </section>
   <section class="span-full fill-sm-screen centered">
      <img class="record-mockup" src="/assets/img/record-back.png"></img>
   </section>
   <section class="span-full fill-sm-screen centered">
      <img class="record-mockup" src="/assets/img/record-front-back.png"></img>
   </section>
   <section class="span-full fill-sm-screen centered">
      <img class="record-picture" src="/assets/img/record-tickets.jpg"></img>
   </section>
   <section class="span-full fill-sm-screen centered">
      <img class="record-picture" src="/assets/img/record-sleeve.jpg"></img>
   </section>
   <section class="span-full fill-sm-screen centered">
      <img class="record-picture" src="/assets/img/record-come-a-little-closer.jpg"></img>
   </section>
   <section class="span-full fill-sm-screen centered">
      <img class="record-picture" src="/assets/img/record-mother-fucker.jpg"></img>
   </section>
</article>
