---
layout: project
---
<article id="brewing-project" class="project-grid">
   <section id="brewery-head" class="span-full">
      {% include brewery-head.svg %}
   </section>
   <section id="brewery-description" class="span-full">
      {{ page.content }}
   </section>
   <section id="brewery-cup" class="span-half">
   </section>
   <section id="brewery-shirt" class="span-half">
      <img src="/assets/img/brewery-tshirt.png"></img>
   </section>
   <section id="brewery-lable" class="span-full">
      {% include brewery-label.svg %}
   </section>
</article>
