---
layout: project
---
<article id="type-book-project" class="default-grid">
   <section id="type-head" class="span-full fill-screen centered">
      <img class="img-header" src="/assets/img/type-book-header.png"></img>
   </section>
   <section class="project-description span-full centered lemon-bg">
      <div class="text-area">
         {{ page.content }}
      </div>
   </section>
   <section id="type-book-cover" class="span-full fill-screen centered">
      <img src="/assets/img/type-book-cover.png"></img>
   </section>
   <section id="type-book-2" class="span-full fill-screen centered">
      <img class="type-book-mockup" src="/assets/img/type-book-2.png"></img>
   </section>
   <section id="type-book-4" class="span-full fill-screen centered">
      <img class="type-book-mockup" src="/assets/img/type-book-4.png"></img>
   </section>
   <section id="type-book-6" class="span-full fill-screen centered">
      <img class="type-book-mockup" src="/assets/img/type-book-6.png"></img>
   </section>
   <section id="type-book-8" class="span-full fill-screen centered">
      <img class="type-book-mockup" src="/assets/img/type-book-8.png"></img>
   </section>
   <section id="type-book-10" class="span-full fill-screen centered">
      <img class="type-book-mockup" src="/assets/img/type-book-10.png"></img>
   </section>
   <section id="type-book-12" class="span-full fill-screen centered">
      <img class="type-book-mockup" src="/assets/img/type-book-12.png"></img>
   </section>
</article>
